<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:fragment="navbar">
        <nav class="navbar">
            <div class="navbar-brand" th:onclick="|window.location.href='@{/painel-admin}'|">
                Clínica Odonto Vida
            </div>
            <ul class="navbar-nav">
                <li><a class="nav-link" href="/pacientes">Pacientes</a></li>
                <li><a class="nav-link" href="/dentistas">Dentistas</a></li>
                <li><a class="nav-link" href="/consultas">Consultas</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button class="logout-button" type="submit">Sair</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
